<div class="email" style="color:#580000 ;background:#C0C0C0; width:400px; heigth:400px;margin-left:500px;">
    <p>Multumim pentru rezervarea facuta</p><br>
    <p>Un email cu datele de rezervare au fost transmise
        
</div>
