/**
 * designing structure for page content
 * built (with love) using Bootstrap
 */
body {
    padding-top: 55px;
}

#navigation {
    display: block;
    position: fixed;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    box-shadow: 0 1px 6px #2d2d2d;
    background: rgba(250,250,250,0.9);
    border-top: 1px solid #e6e7e8;
    border-bottom: 1px solid #e6e7e8;
}
#navigation .navlinks {
    list-style: none;
}
#navigation .navlinks li {
    display: inline-block;
    margin-right: 5px;
}
#navigation .navlinks li a {
    display: block;
    float: left;
    padding: 0 12px;
    line-height: 55px;
    font-weight: bold;
    color: #777;
}
#navigation .navlinks li a:hover {
    text-decoration: none;
    color: #444;
    background: #fcfcfc;
}


#heading {
    display: block;
    width: 100%;
    height: 500px;
    padding: 20px 0;
    background: url('../img/1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0 -4px 9px -3px #000;
    -moz-box-shadow: inset 0 -4px 9px -3px #000;
    box-shadow: inset 0 -4px 9px -3px #000;
}
#heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading p {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

#heading h2 {
    font-size: 50px;
    line-height: 105px;
    letter-spacing: -1px;
    color: #fff;
}

#heading h4 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 25px;
}



#footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}


/** alternate responsive traits **/
@media(max-width:767px) {
    body {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #heading > .container {
        padding: 0 15px;
    }

    #main-content > .container {
        padding: 0 15px;
    }

    #footer > .container {
        padding: 0 15px;
    }
    #heading h1 {
        font-size: 50px;
        line-height: 55px;
    }
    #heading h4 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media(max-width:550px) {
    #heading {
        height: 300px;
    }
    #navigation .navlinks li {
        margin-right: 1px;
    }
    #navigation .navlinks li a {
        padding: 0 5px;
        font-size: 12px;
    }
}

#div1{
    width: 800px;
    height: 300px;
    margin-left: 170px;
    background-color: #345cad;
    border: 2px solid #999999;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    opacity: 0.65;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 65);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 65);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/

}

#form{
    margin-left: 170px;
    padding:1em;
    font-weight:bold;
    position: absolute;
}
#n_adult{
    width: 30px;
}

#time{
    width: 50px;
}

#firstdiv{
    height :100px;
}

#mod_caut{
    display: none;
}

.labl1 {
    margin-left: -28px;
    margin-bottom: 10px;
    font-size: 27px;
    line-height: 22px;
    letter-spacing: -1px;
    color: #fff;
}

.search{
    margin-top: 30px;
}

#datepicker{
    width: 75%;
}
.labelname {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -1px;
    color: #fff; 
}
#search_result{
    position:absolute;
    padding:0;
    left: 50%;
    display: none;
    margin-left: -413px;
    width:790px;
    height:410px;
    margin-top: 75px;


    border: 4px #89abc8 outset; background-color: #cdc8bc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; 
}

#t_result{
    width: 600px;
}
table {
    border-collapse: collapse;
    margin: 5px;
}
table td {
    padding:3px;
    width: 150px;
    height: 36px;
    border-bottom: 1px solid #ccc;
}
table tr {
    border-bottom: 1px solid #ccc;
}
.edit_tr:hover, .active_tr {
    background: #80C8E5;
    cursor:pointer;
}
/*map bus css*/
#bus_map{
    width: 250px;   
    height: 390px;
    margin-top: 15px;
    border: 3px #ff0549 ridge; background-color: #f8f4ed; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; 
}

#mask
{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 4;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* first!*/
    filter: alpha(opacity=40); /* second!*/
    background-color: gray;
    width: 100%;
    height: 100%;
}
#holder
{
    height: 200px;
    width: 550px;
    background-color: #F5F5F5;
    border: 1px solid #A4A4A4;
    margin-left: 10px;
}
#place
{
    position: relative;
    margin: 7px;
}
#place a
{
    font-size: 0.6em;
}
#place li
{
    list-style: none outside none;
    position: absolute;
}
#place li:hover
{
    background-color: yellow;
}
#place .seat
{
    background: url("../img/available_seat_img.gif") no-repeat scroll 0 0 transparent;
    height: 33px;
    width: 33px;
    display: block;
}
#place .selectedSeat
{
    background-image: url("../img/booked_seat_img.gif");
}
#place .selectingSeat
{
    background-image: url("../img/selected_seat_img.gif");
}
#place .row-3, #place .row-4
{
    margin-top: 10px;
}

#seatDescription li
{
    list-style: none outside none;
    padding-left: 35px;
    height: 35px;
    margin-top: 75px;
    float: left;
}
#seats{
    margin-top: 20px;
}

#legend{
    margin-top: 275px;
}

.space{
    margin-left:15px; 
}
#dialog-confirm{
    display: none;
}
#result{
    max-height:360px;
    overflow-x: hidden;
}
.active_tr{
    background-color: #FCE29D;
}
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; margin-left: 100px;}
.top-buffer { margin-top: 100px; margin-left: auto; margin-right: auto;padding:60px;margin-bottom:30px;font-size:18px;font-weight:200;line-height:30px;color:inherit;background-color:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; }
